# SQL for accessing spatial data on postgreSQL

データベースシステム講義資料  
version 0.0.1   
authors: H. Chenan & N. Tsutsumida  

Copyright (c) 2023 Narumasa Tsutsumida  
Released under the MIT license  
https://opensource.org/licenses/mit-license.php

## Task

2020年4月と2020年4月の休日昼間人口増減率(1都6県)

## prerequisites

In [5]:
import os
from sqlalchemy import create_engine
import pandas as pd
import geopandas as gpd
import numpy as np
import folium
pd.set_option('display.max_columns', 100)

In [6]:
def query_pandas(sql, db):
    """
    Executes a SQL query on a PostgreSQL database and returns the result as a Pandas DataFrame.

    Args:
        sql (str): The SQL query to execute.
        db (str): The name of the PostgreSQL database to connect to.

    Returns:
        pandas.DataFrame: The result of the SQL query as a Pandas DataFrame.
    """

    DATABASE_URL='postgresql://postgres:postgres@postgis_container:5432/{}'.format(db)
    conn = create_engine(DATABASE_URL)

    df = pd.read_sql(sql=sql, con=conn)

    return df

## Define a sql command

In [7]:
# " "のなかにSQL文を記述
sql = "select adm2.name_1, pt.name, (sum(p20.population) - sum(p19.population)) / sum(p19.population) as rate \
      from planet_osm_point as pt, pop201904 p19, pop202004 p20, adm2\
        where adm2.name_1 in ('Tokyo','Chiba','Kanagawa','Saitama','Gunma','Tochigi','Ibaraki') and  \
        p19.geom = p20.geom and\
        pt.railway = 'station' and\
        ST_Within(pt.way, st_transform(p19.geom, 3857)) and \
        ST_Within(p19.geom, adm2.geom)\
    group by adm2.name_1, pt.name order by rate\
    limit 1;"

## Outputs

In [8]:
out = query_pandas(sql, 'gisdb') #specify db name
print(out)

  name_1          name      rate
0  Tokyo  ベイサイド・ステーション -0.979428